<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="/var/log/pisto/internal-nlog-AspNetCore.log">
  
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <variable name ="logDir" value="/var/log/pisto" />
  <targets>
    <!-- File Target for all log messages with basic details -->
    <!--<target xsi:type="File" name="allfile" fileName="${logDir}/nlog-AspNetCore-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />-->
    <target xsi:type="ApplicationInsights" name="aiTarget">
      <instrumentationKey>dd2decce-8809-4fe6-894c-c265e47e391c</instrumentationKey>
      <contextproperty name="threadid" layout="${threadid}" />
    </target>
  </targets>
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="aiTarget" />
  </rules>
  <extensions>
    <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
</extensions>
</nlog>